*{
    box-sizing: border-box;
}
.lateral{
    background-color: #21618c;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    padding: 1em;
    width: 350px;

}

.perfil_circulo{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;


}

.perfil_foto{
    width: 100%
}


.perfil_nombres{
    color: #fff;
    font-size: 20px;
    width:250px;

}

.perfil_nombres, .perfil_circulo{
    display: block;
    vertical-align: middle;

}


.informacion{
    color: #b2babb;
    position: absolute;
    bottom: 0;
}

.informacion_titulo{
    font-size: 18px;
}

.habilidades{
    padding=0;
}

.habilidad{
    background-color: #2e86c1 ;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    padding: .5em;

}


.proyectos{
    margin-left:350px;
    padding:1em;
    display: table;
}

.proyecto{
    display: table-cell;
    padding:1em;
    width:50%;
}

.proyecto_titulo{
    color:  #2980b9;
    font-size: 18px;
}

.proyecto__imagen{
    width:100%;
}

